<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
        <authentication mode="Windows" />
        <identity impersonate="false" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="ClassroomWebService.Service1">
        <endpoint address="../Service1.svc" binding="webHttpBinding" contract="ClassroomWebService.IService1" behaviorConfiguration="webBehaviour" />
      </service>
      <service name="ClassroomWebService.SchoolService">
        <endpoint address="../SchoolService.svc" binding="webHttpBinding" contract="ClassroomWebService.ISchoolService" behaviorConfiguration="webBehaviour" />
      </service>
      <service name="ClassroomWebService.LogInService">
        <endpoint address="../LogInService.svc" binding="webHttpBinding" contract="ClassroomWebService.ILogInService" behaviorConfiguration="webBehaviour" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webBehaviour">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

</configuration>
